@font-face{
	font-family: myfont;
	src: url('font/line.ttf');
}
.container{
	margin-bottom: -200px;
	height: 400px;
	}
h3{
	font-family: myfont;	
}
form{
	margin-top: -240px;
	margin-right: 10px;
}
.header{
	margin-bottom: 100px;
}
.gambar{
	margin-left: -12px;
	width: 400px;
	height: 400px;
	background-size:cover; 
}